*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Montserrat-Black, Inter-Bold, Helvetica, Arial, sans-serif;
}

body {
  max-width: 1416;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 41px;
  padding-right: 120px;
  padding-bottom: 32px;
  padding-left: 120px;
  color: #192252;
}

.header__title {
  font-size: 32px;
}

.header__menu {
  font-size: 16px;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  padding: 14px 16px;
  color: #fff;
  font-size: 16px;
  background: #0e1734;
}

.first {
  display: grid;
  grid-template-columns: 1fr 180px 180px 180px;
  padding: 80px 120px;
}

.site-activity {
  display: flex;
  justify-content: space-between;
}

.first__title {
  color: #192252;
  font-family: Montserrat;
  font-size: 48px;
  letter-spacing: -0.48px;
  margin-bottom: 24px;
}

.first__content {
  max-width: 584px;
  margin-bottom: 59px;
  color: #848fac;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.first__function {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first__button {
  gap: 10px;
  border-radius: 4px;
  padding: 16px 32px;
  color: #fff;
  font-size: 16px;
  background: #0e1734;
  margin-right: auto;
}

.block_meritt_thomas {
  display: flex;
}

.first__meritt__thomas {
  display: flex;
  width: 180px;
  height: 588px;
  gap: 24px;
}

.first_part_of_the_house {
  grid-column-start: 2;
  grid-column-end: 3;
}

.second_part_of_the_house {
  grid-column-start: 3;
  grid-column-end: 4;
  margin-top: 80px;
  align-self: start;
}

.third_part_of_the_house {
  grid-column-start: 4;
  grid-column-end: 5;
}

.about__us {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  padding: 80px 120px;
}

.about__us__img {
  width: 384px;
  height: 576px;
  margin-right: 126px;
}
 .about__us__position {
  grid-column-start: 2;
  grid-column-end: 3;
 }

.about__us__block {
  display: grid;
  align-items: center;
  grid-template-rows: repeat(3, 1fr);
  grid-column-start: 2;
  grid-column-end: 3;
}

.about__us__title {
  font-family: Montserrat;
  color: #192252;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: -0.36px;
}

.about__us__content {
  color: #848fac;
  max-width: 584px;;
  font-family: Inter;
  font-size: 18px;
  line-height: 150%;
}

.about__us__button {
  border-radius: 4px;
  background: #0e1734;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: auto;
}
